@model IEnumerable<CarRentalsAssignment.Models.Customer>

@{
    ViewData["Title"] = "ManageCustomers";
}

<h1>ManageCustomers</h1>

<p>
    <a asp-action="CreateCustomer">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                <a asp-action="EditCustomer" asp-route-id="@item.CustomerId">Edit</a> |
                <a asp-action="DetailsCustomer" asp-route-id="@item.CustomerId">Details</a> |
                <a asp-action="DeleteCustomer" asp-route-id="@item.CustomerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
