@model IEnumerable<CarRentalsAssignmentV2.Models.Car>

@{
	ViewData["Title"] = "Index";

	bool isAdmin = Context.Session.GetString("UserRole") == "Admin";

}

<h1>Index</h1>

@if (isAdmin)
{
	<p>
		<a asp-action="Create">Create New</a>
	</p>
}

<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th style="width: 30%">
					@Html.DisplayNameFor(model => model.Name)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.ImageFilenames)
				</th>
				<th class="align-middle"></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td class="align-middle">
						@Html.DisplayFor(modelItem => item.Name)
					</td>
					<td class="align-middle">
						@* @Html.DisplayFor(modelItem => item.ImageFilenames) *@
						<div class="d-flex flex-wrap gap-2">
							@foreach (var image in item.ImageFilenames)
							{
								if (ViewBag.CarImages.Contains(image))
								{
									<div class=" d-flex flex-column">
										<a href="~/images/cars/@image"><img title="@image" style="height:100px;" src="~/images/cars/@image" alt="Alternate Text" /></a>
										<p>@image</p>
									</div>
								}
								else
								{
									<p>-invalid image-</p>
								}
							}
						</div>

					</td>
					@if (!isAdmin)
					{
						<td class="align-middle"><a class="btn btn-primary" asp-controller="Rental" asp-action="Create" asp-route-id="@item.CarId">Book Car</a></td>
					} else {
						<td>
							<a asp-action="Edit" asp-route-id="@item.CarId">Edit</a> |
							<a asp-action="Delete" asp-route-id="@item.CarId">Delete</a>
						</td>
					}

				</tr>
			}
		</tbody>
	</table>
</div>